footer{
    height: 140;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

